@model TestsTesk.Context.Group

@{
    ViewData["Title"] = "EditStudyGroup";
}

<h3>Редактировать учебную группу</h3>
<h6>Учебные группы>Редатировать учебную группу</h6>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStudyGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupId" />
            <h6>Преподаватель</h6> @Html.DisplayFor(model => model.Teachers.Name)
        <div class="form-group">
            <h6>Название учебной группы</h6>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Студент
            </th>
            <th>
                Организация
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organisations.Name)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-employeeId="@item.EmployeeId" asp-route-groupId="@Model.GroupId">Удалить из группы</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<a asp-action="AddStudentInGroup" asp-route-groupId="@Model.GroupId">Add student</a>*@

<form asp-action="AddStudentInGroup"  asp-route-Id="@Model.GroupId" method="get">
    <input type="submit" value="Добавить студента" class="btn btn-primary" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
